.jumbotron{
    background-image: url(../ata-web-exam2/PF3.jpg);
    background-repeat: repeat-y;
}
.audio-buttons{
    display: flex;
    justify-content: space-between;
}

body{
    background-image:url(../ata-web-exam2/pink_floyd.jpg);
}
